<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentux - About us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%-include('about_style.ejs')%>

  </head>
  
  <body>

    <%-include('../_common/header/header.ejs')%>

    <div id="rest">
      <%-include('../_common/sidebar/sidebar.ejs')%>
      <div id="content">
  
        <div id="terms-title-wrapper">
          <h1 class="terms-title">About Us</h1>
        </div>

        <div id="super_wrapper">

          <div id="pick_wrapper" class="product_wrapper product_active" style="display: block;margin:auto;width: fit-content;">
            <div class="contain">
              <h2>What do we do?</h2>
              Simple really, We provide a service of renting.<br><br>
              More specifically we rent out your product so that you can earn in the background!
            </div>

            <div class="contain">
              <h2>Our Motto</h2>
              We're dedicated to providing you the best service possible.<br>
              We make sure that the goods sitting uselessly at your home work for you!
            </div>

            <div class="contain" style="margin-bottom: 13rem;">
              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" style="width:5rem;float:left;margin-right: 1rem;">
              <b>Ceo & Founder:</b> Om Shah<br><br>
              <b>Education:</b>  College of Engineering Pune<br>
              <b>Location:</b> Pune, Maharashtra, India
            </div>

            <div style="float: inline-end;text-align: center;color: #747474;">Site developed by Ojas Gupta</div>
          </div>

        </div>

      </div>
    </div>  
  </body>
  
</html>
