<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentux - Terms & Conditions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%-include('terms_style.ejs')%>

  </head>
  
  <body>

    <%-include('../_common/header/header.ejs')%>

    <div id="rest">
      <%-include('../_common/sidebar/sidebar.ejs')%>
      <div id="content">
  
        <div id="terms-title-wrapper">
          <h1 class="terms-title">Terms & Conditions</h1>
        </div>

        <div id="super_wrapper">

          <div id="pick_wrapper" class="product_wrapper product_active">
            <ul>
              <li>This service for now is only available to the College of Engineering Pune.</li>
              <li>We, Rentux only take 20% of the renting amount rest 80% goes to the owner.</li>
              <li>Before renting the products you have to provide us with your phone number, email address, and MIS.</li>
              <li>All the information that you provide us, will not be shared with anyone. Your privacy and details will be safe.</li>
              <li>If you damage the product then you have to pay the amount asked by the owner. Such issues will be resolved mutually.</li>
              <li>In extreme cases of theft, damage, or other similar issues, we may share the details of the rentee to the renter.</li>
            </ul>

          </div>

        </div>

        <%-include('../_common/footer/footer.ejs')%>

      </div>
    </div>  
  </body>
  
</html>