<%-include('./footer_style.ejs')%>
<footer>
    <div id="footer_items" style="display:flex;justify-content:space-evenly;width:100%;margin:0 0 3rem 0">
      <span><a href="/howto">How to Rent?</a></span>
      <span><a href="/terms">Terms &#38; Conditions</a></span>
      <span><a href="/feedback">Feedback &#38; suggestions</a></span>
      <span><a href="/about">About Us</a></span>

    </div>
    <hr style="margin:0 3rem 2rem 3rem;border: 0;border-top: 1px solid #595959;">

    <div id="socials">
      <a class="fa fa-whatsapp" href="https://api.whatsapp.com/send?phone=919503233112"></a>
      <a class="fa fa-instagram"></a>
      <a class="fa fa-envelope" href="mailto: rentux.official@gmail.com"></a>
      <a class="fa fa-linkedin" href="https://in.linkedin.com/company/rentuxofficial"></a>
    </div>
    <div style="font-size:0.7rem;width:100%;text-align:center;">Rentux 2021 © All Rights Reserved</div>
</footer>