<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentux - How to rent?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%-include('howto_style.ejs')%>

  </head>
  
  <body>

    <%-include('../_common/header/header.ejs')%>

    <div id="rest">
      <%-include('../_common/sidebar/sidebar.ejs')%>
      <div id="content">
  
        <div id="howto-title-wrapper">
          <h1 class="howto-title">How to rent?</h1>
        </div>

        <div id="super_wrapper">

          <div id="pick_wrapper" class="product_wrapper product_active">
            <ul>
              <li>You can message us or call us to rent products and we will deliver it to you directly if possible.</li>
              <li>You can pay us by UPI or cash ONLY.</li>
              <li>If you don't want to continue your rent product, you can contact us and we will pick it up from your location if possible.</li>
              <li>The subscription can be of 1 month, 3 months(Maximum) or even for 15 days(minimum),<br> after that you have to renew your subscription to continue except for books.</li>
            </ul>
          </div>

        </div>

        <%-include('../_common/footer/footer.ejs')%>

      </div>
    </div>  
  </body>
  
</html>